* {
    margin: 0;
    padding: 0;
}

body {
    background: url("background.jpg") cover;
    background-repeat: no-repeat;
}

nav {
    display: block;
    font-size: 25px;
    text-align: center;
    padding: 1%;
    font-family: "Times New Roman", serif;
    background-color: red;
}

.mainheader {
    text-align: center;
    font-family: "Lucida Console", monospace;
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding: 2%;
    background-color: black;
    color: white;
}

li {
    display: inline;
    list-style-type: none;
    padding: 10px;
    margin: 2%;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: white;
    color: red;
    padding: 1%;
}

#image1 {
    float: right;
    border: 3px solid black;
    padding: 1%;
    margin: 1%;
}

.text {
    font-size: 20px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container h2 {
    margin-top: 2%;
    padding: 2%;
    font-size: 35px;
    text-transform: capitalize;
}

#image2 {
    float: left;
    border: 3px solid black;
    padding: 1%;
    margin: 1%;
}

.clear {
    clear: both;
}

footer {
    margin-top: 2%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    width: auto;
}